.profile__edit-link {
  width: 24px;
  height: 24px;
  display: block;
  text-decoration-line: none;
}

@media screen and (max-width: 642px) {
    .profile__add-link {
        width: 16px;
        height: 16px;
    }
  }