.popup__container {
  margin: 37px auto;
  width: 358px;
  height: 259px;
  background: rgba(255, 255, 255);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 2;
  padding: 34px 36px 36px 37px;
}

@media screen and (max-width: 642px) {
    .popup__container {
        width: 236px;
        height: 273px;
        padding: 25px 22px 25px 22px;
        margin: 46px auto;
    }
  }
