.popup__content {
  margin: auto;
  width: 511px;
  height: 533px;
  position: relative;
}

@media screen and (max-width: 642px) {
    .popup__content {
        width: 277px;
        height: 418px;
    }
  }
