.profile__avatar {
    width: 120px;
    height: 120px;
    background-size: cover;
    object-fit: cover;
    border-radius: 100px;
    margin-top: 7px;
}

@media screen and (max-width: 642px) {
    .profile__avatar{
        margin: 7px auto;
    }
  }

